{% extends "newsletter/common.html" %}

{% load i18n %}

{% block title %}{% trans "Newsletter archive" %}{% endblock title %}

{% block body %}
<table>
    <tr>
        <th>{% trans "Newsletter archive" %} {{ newsletter.title }}</th>
    </tr>
    
    {% for message in newsletter_messages %}
    <tr>
        <td><a href="./{{message.slug}}/">{{ message.slug }}</a></td>
    </tr>
    {% endfor %}
    <tr>
        <td><a href="{% url 'newsletter_list' %}">Back to list</a></td>
    </tr>
</table>
{% endblock body %}
